@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');



/* general styling */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    list-style-type: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    height: auto;
    width: 100%;
    overflow-x: hidden;
    letter-spacing: 2px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

h2 {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
}

a {
    color: white;
}

button {
    cursor: pointer;
    letter-spacing: 2px;
    height: auto;
    padding: 12px 10px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 0;
    border: none;
    background-color: transparent;
    color: white;
    transition: 0.5s ease-in-out;
    font-weight: bold;
}


/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: aliceblue;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }


/* navbar start */


header {
    width: 100%;
    height: auto;

}

nav {
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}
nav .container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .container .btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-box .bi-three-dots-vertical{
    font-size: 30px;
    display: none;
}
nav .container .logo{
    font-weight: bold;
    font-size: 18px;
}
nav .container .logo a{
    color: black;
}
.logo img{
    height: 20px;
    width: 20px;
}

nav .container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 400px;
    max-width: 400px;
}
nav .container ul .bi-x-square-fill{
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
}
nav .container ul .underline{
    height: 6px;
    background-color: black;
    width: 25%;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: all 0.5s ease-in-out;
}
nav .container ul li.menu__items {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    width: 25%;
    text-align: center;
    cursor: pointer;

}
nav .container ul li a{
    color: black;
    letter-spacing: 2px;
}

nav .container .invite{
    width: 160px;
    height: auto;
    padding: 12px 10px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 0;
    border: none;
    background-color: black;
    color: white;
    transition: ease-in-out 0.5s;
}
nav .container .invite:hover{

    transform: translateY(-3px);
    transition: ease-in-out 0.5s;
}

.content {
    display: none;
}

.content.active {
    display: block;
}



/* sticky social icons */

.sticky-open {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 40px;
    height: 70px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    cursor: pointer;
    
}
.sticky-open i{
    font-size: 27px;
    color: white;
    transition: ease-in-out 0.8s;
    transform: translateX(5px)
}

.sticky-social {
    
    position: fixed;
    z-index: 1000;
    bottom: -100%;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: ease-in-out 0.8s;
}
.sticky-social i{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    color: white;
    text-align: center;
    background-color: black;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.sticky-social i:hover{
   transform: translateY(-10px);
   transition: 0.3s ease-in-out;
}



/* home start */

.image-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 100%;
    height: 78vh;
    position: relative;
    z-index: 100;

}

.image-banner:nth-child(1) {
    margin-top: 70px;

}
.image-banner:nth-child(2) {

    flex-direction: row-reverse;

}
.image-banner .image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: 100%;
    position: relative;

}


.image-banner .image .overlay {

    background-color: rgba(0, 0, 0, 0.5);

}

#features .image-banner .image{
    background-image: url(./Images/home-5.jpg);

}
.image-banner:nth-child(1) .image{
    background-image: url(./Images/home-1.jpg);

}
.image-banner:nth-child(2) .image{
    background-image: url(./Images/home-5.jpg);
    background-position: center 20%;

}
.image-banner:nth-child(3) .image{
    background-image: url(./Images/home-3.jpg);

}
.image-banner .banner-content{
    width: 40%;
    height: 100%;
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 60px;
    gap: 40px;
}


.image-banner:nth-child(1) .banner-content{

    background-color: black;
    color: white;
}
.image-banner .banner-content p{

    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 20px;
}
.image-banner:nth-child(2) .banner-content .hero-btn,
.image-banner:nth-child(3) .banner-content .hero-btn
{

    color: black;
}

/* home features */

.home-features, 
.features-features 
{
    width: 100%;
    height: auto;
    background-color: rgb(233, 233, 233);
    padding: 80px 0;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 200px;
    position: relative;
    z-index: 10;
}
.features-features 
{
    margin: 0;
}
.features-container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
.features-container .features-card{
    width: 300px;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
.features-container .features-card img{
    width: 50%;
    height: auto;

}
.features-container .features-card:nth-child(1) img{
    width: 35%;
    height: 130px;
    object-fit: fill;


}
.features-container .features-card h3{
    text-transform: uppercase;
    font-size: 15px;

}
.features-container .features-card p{
    
    font-size: 12px;

}

/* stories start */

/* hero start */

.hero {
    background-image: url(./Images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
    padding-left: 100px;;
    position: relative;

}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

}
.hero .overlay {

    background-color: rgba(255, 255, 255, 0.07);

}
.hero .hero-content{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    color: white;
    z-index: 5;

}
.hero .hero-content p {
    max-width: 400px;

}

.hero-btn {
    width: auto;
    padding: 0;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
}
.bi-arrow-right{
    font-size: 20px;

}

/* banner start */

.banner {
    background-color: black;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
}

.banner .banner-container{
    
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
.banner .banner-container i{
    
    border-radius: 50%;
    border: 1px solid rgba(129, 129, 129, 0.9);
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 22px;
    color: white;
    text-align: center;
}


/* gallery preview section */

.preview-section {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    opacity: 0;
    right: 0;
    position: fixed;
    z-index: 1500;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in;
    
}
.preview-section.active {

    left: 0;
    opacity: 1;
    transition: 0.5s ease-in;  
}

.preview-section .preview-card{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview-section .preview-card .image{
    
    width: 50%;
    height: 100%;
    overflow-y: auto;
    position: relative;
}
.preview-section .preview-card .image img{

    width: 100%;
    min-height: 100%;

}
.preview-section .preview-card .image i{

    position: fixed;
    right: 32%;
    top: 7%;
    font-size: 30px;
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
.preview-section .preview-card .image i:hover{

    transform: rotate(45deg);
    transition: ease-in-out 0.5s;
}
.preview-section .preview-card .preview-content {

   background-color: white;
   color: black;
   padding: 60px;
   width: 50%;
   height: 100%;
   position: relative;

}
.preview-section .preview-card .preview-content h5{

   margin: 20px 0;

}
.preview-section .preview-card .preview-content small{

   border-right: solid 1px black;
   padding-right: 10px;
   color: rgba(0, 0, 0, 0.4);

}
.preview-section .preview-card .preview-content span{

   text-transform: uppercase;
   font-size: 15px;

}
.preview-section .preview-card .preview-content p{

    color: rgba(129, 129, 129, 0.9);
    line-height: 21px;

}
.preview-section .preview-card .preview-content i{

    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
.preview-section .preview-card .preview-content i:hover{

    transform: scale(0.8);
    transition: ease-in-out 0.5s;
}


/* galler start */

.gallery,
.home-library
 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    flex-wrap: wrap;
    margin-bottom: 200px;
    position: relative;
    z-index: 10;
    width: 100vw;
}

.home-library {
    margin: 0;
}

.gallery .card,
.home-library .card
{
    width: 25vw;
    height: 70vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}




.gallery .card img,
.home-library .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease-in-out 0.7s;
}
.gallery .card:hover img,
.home-library .card:hover img
{
    transform: scale(1.2);
    transition: ease-in-out 0.7s;
}

.gallery .card .card-content,
.home-library .card .card-content
{
    z-index: 5;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 80%;
}

.gallery .card  button,
.home-library .card  button
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(224, 224, 224, 0.9);
    margin-top: 20px;
    transition: 0.5s ease-in-out;

}
button:hover{
    transform: translateX(10px);
    transition: 0.5s ease-in-out;
}

.bi-arrow-right{
    font-size: 25px;
}


.card .overlay {
    background-color: rgba(0, 0, 0, 0.4);
}
.card .bi-arrows-fullscreen{
   
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    z-index: 10;
}


/* features page start */

.get-beta {
    width: 100%;
    height: 250px;
    background-image: url(./Images/desert.jpg);
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 200px;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    color: white;
    flex-wrap: wrap;
    gap: 20px;
}
.get-beta .left-content,
.get-beta .right-content
{
    z-index: 15;
}

.get-beta .overlay {

    background-color: rgba(0, 0, 0, 0.4);

}

/* footer start */

footer {
    height: 200px;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .left-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: 80%;
}

footer .left-content .title-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;

}
footer .left-content .title-container .social-icons{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    cursor: pointer;

}
footer .left-content .title-container .social-icons i{

    transition: 0.5s ease-in-out;
    font-size: large;

}
footer .left-content .title-container .social-icons i:hover{
    transform: scale(1.5);
    transition: 0.5s ease-in-out;

}
footer .left-content ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    text-transform: uppercase;
    font-size: 11px;

}
footer .left-content ul li{
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
footer .left-content ul li:hover{
    transform: translateX(5px);
    transition: 0.5s ease-in-out;
}

footer .right-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    height: 80%;
}
footer .right-content h5{
    font-size: 12px;
    font-weight: bold;
    color: rgba(129, 129, 129, 0.9);
}
.footer-btn{
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}


/* media queries */

@media screen and (max-width: 2000px){
    .gallery .card,
    .home-library .card
    {
        width: 25vw;
        height: 90vh;
        
    }
    
}
@media screen and (max-width: 1000px){
    nav .container {
        width: 90%;

    }
}


@media screen and (max-width: 900px){
    .image-banner {
        height: 100vh;
    }

    .image-banner .banner-content{

        padding: 30px;
        gap: 20px;
    }

    .image-banner .banner-content h2{

        font-size: 25px;
        
    }
    .image-banner .banner-content p{

        font-size: 12px;
        
    }

    .gallery .card,
    .home-library .card
    {
        width: 50vw;
        height: 90vh;
        
    }


}

@media screen and (max-width: 850px){
    nav .container{
        position: relative;
        width: 100%;
        padding: 0 40px;
    }
    
    nav .container ul{
        position: absolute;
        top: 100%;
        left: -100%;
        right: 0;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        max-width: none;
        background-color: white;
        gap: 20px;
    }
    nav .container ul .bi-x-square-fill{
        display: block;
       
    }

    .btn-box .bi-three-dots-vertical{
        display: block;
    }
    nav .container ul li.menu__items {

        width: 100%;

    }

    nav .container ul li a{
        font-size: 50px;
        text-align: center;
    }
    nav .container ul .underline{
        display: none;
    }

    footer {

        flex-direction: column;
        gap: 30px;
        padding: 40px;
    }
    
}

@media screen and (max-width: 660px){
    .image-banner {
       flex-direction: column;
       height: auto;
    }
    .image-banner:nth-child(2) {

        flex-direction: column;
    
    }
    .image-banner .image{
       width: 100%;
        height: 70vh;
    }

    .image-banner .banner-content{

        padding: 30px;
        gap: 20px;
        height: auto;
        width: 100%;
        height: 70vh;
    }

    .image-banner .banner-content h2{

        font-size: 25px;
        
    }
    .image-banner .banner-content p{

        font-size: 12px;
        
    }
}
@media screen and (max-width: 550px){
    .gallery .card,
    .home-library .card
    {
        width: 50vw;
        height: 60vh;
        
    }

    .get-beta {

        height: auto;
       
    }

    nav .container{

        padding: 0 10px;
    }

    nav .container .invite{
        width: 100px;
        height: auto;
        padding: 12px 0;
        text-transform: uppercase;
        font-size: 8px;
        border-radius: 0;
        border: none;
        background-color: black;
        color: white;
        transition: ease-in-out 0.5s;
    }
    
}
@media screen and (max-width: 400px){
    .gallery .card,
    .home-library .card
    {
        width: 100vw;
        height: 100vh;
        
    }

   
}

